@import "./common/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: $tertiary-color;
}

body {
  background-color: $secondary-color;
}